<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<h1 style="text-align: center;"><span style="color: #3598db;" th:text="${title}"></span></h1>

<p>&nbsp;</p>
<p th:text="${quote}" style="text-align: justify"></p>
<p><a th:href="${link}" ><span th:text="${link}" ></span></a></p>

</body>
</html>
