<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
</head>


<body>
<div>


    <h1 style="text-align: center;" th:text="${title}"> </h1>


    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at facilisis lorem.
        Cras a volutpat odio, et congue lorem. Etiam mollis, lacus id aliquet elementum, augue nisl tristique neque, id
        convallis turpis nulla in leo. Nulla egestas lorem in felis eleifend, vel condimentum metus venenatis. Sed at
        ipsum sed justo convallis tincidunt. Nam at tortor ac ex pulvinar ornare placerat a elit. Aenean ut fermentum
        felis. Sed dignissim aliquet mollis. Quisque vitae tellus cursus, pharetra ligula at, imperdiet felis.
        Suspendisse potenti. Aliquam fringilla porta sapien sed pellentesque. Curabitur commodo at felis a efficitur. In
        lorem est, mattis et dapibus eget, blandit sit amet velit. Donec faucibus tempus gravida.</p>
    <p>&nbsp;</p>
    <p>
        <img src="https://images.unsplash.com/photo-1473341304170-971dccb5ac1e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZWxlY3RyaWNpdHl8ZW58MHx8MHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
             width="500" height="333"/></p>


    <p style="text-align: justify;">Aliquam et imperdiet orci. Duis pellentesque, libero sit amet euismod viverra,
        sapien ipsum molestie ante, id gravida tortor elit id justo. Curabitur vel semper quam. Curabitur dictum odio
        vel placerat vestibulum. Sed iaculis, nunc in faucibus vulputate, lorem sem varius justo, eu euismod nisi neque
        ac turpis. Morbi lacinia leo diam, pretium consectetur dui convallis in. Morbi ac lobortis magna.</p>
    <p style="text-align: justify;">Duis eu magna non risus lacinia pellentesque a a quam. Praesent eget sem vel nibh
        sagittis sagittis eget vel neque. Proin egestas nisi ut mi ultrices consequat a a sapien. Ut sed finibus risus.
        Donec facilisis interdum sapien, quis faucibus ante lobortis eleifend. Quisque dapibus mollis ligula eu lacinia.
        Donec non lorem arcu. Maecenas aliquet, sem at elementum tincidunt, eros tellus pharetra velit, id eleifend
        neque turpis ut ante. Quisque purus nisi, imperdiet in viverra ac, pulvinar in elit. Sed dictum tortor diam, et
        vulputate odio iaculis nec. Nullam posuere ipsum ante, et pretium urna ultricies bibendum. Donec nec volutpat
        purus, eu lacinia elit. In interdum lacinia tortor ac maximus. Phasellus maximus tellus ut ligula dictum, id
        feugiat dui cursus.</p>
    <p style="text-align: justify;">Curabitur eleifend tellus velit, vel tempus sem placerat a. Donec euismod felis et
        est euismod, at semper lorem porttitor. Fusce dictum sem tellus, quis eleifend turpis luctus ut. Phasellus
        blandit at tortor eu sagittis. Etiam at rutrum augue. Nunc libero orci, suscipit nec rutrum eu, auctor id
        turpis. Curabitur eu justo magna. Cras tincidunt commodo ex ac vehicula. Nam egestas varius tincidunt.
        Vestibulum commodo risus eu sagittis bibendum. Ut eu varius nisl. Integer condimentum, ligula quis mattis
        bibendum, enim massa lobortis velit, id ornare mauris dolor vitae neque. Curabitur egestas blandit cursus. Ut
        tincidunt diam augue, a eleifend odio malesuada nec. Phasellus euismod mauris a massa faucibus euismod.
        Pellentesque convallis semper tincidunt.</p>
    Nicholas Tesla, le g&eacute;nie oubli&eacute; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at
    facilisis lorem. Cras a volutpat odio, et congue lorem. Etiam mollis, lacus id aliquet elementum, augue nisl
    tristique neque, id convallis turpis nulla in leo. Nulla egestas lorem in felis eleifend, vel condimentum metus
    venenatis. Sed at ipsum sed justo convallis tincidunt. Nam at tortor ac ex pulvinar ornare placerat a elit. Aenean
    ut fermentum felis. Sed dignissim aliquet mollis. Quisque vitae tellus cursus, pharetra ligula at, imperdiet felis.
    Suspendisse potenti. Aliquam fringilla porta sapien sed pellentesque. Curabitur commodo at felis a efficitur. In
    lorem est, mattis et dapibus eget, blandit sit amet velit. Donec faucibus tempus gravida. Aliquam et imperdiet orci.
    Duis pellentesque, libero sit amet euismod viverra, sapien ipsum molestie ante, id gravida tortor elit id justo.
    Curabitur vel semper quam. Curabitur dictum odio vel placerat vestibulum. Sed iaculis, nunc in faucibus vulputate,
    lorem sem varius justo, eu euismod nisi neque ac turpis. Morbi lacinia leo diam, pretium consectetur dui convallis
    in. Morbi ac lobortis magna. Duis eu magna non risus lacinia pellentesque a a quam. Praesent eget sem vel nibh
    sagittis sagittis eget vel neque. Proin egestas nisi ut mi ultrices consequat a a sapien. Ut sed finibus risus.
    Donec facilisis interdum sapien, quis faucibus ante lobortis eleifend. Quisque dapibus mollis ligula eu lacinia.
    Donec non lorem arcu. Maecenas aliquet, sem at elementum tincidunt, eros tellus pharetra velit, id eleifend neque
    turpis ut ante. Quisque purus nisi, imperdiet in viverra ac, pulvinar in elit. Sed dictum tortor diam, et vulputate
    odio iaculis nec. Nullam posuere ipsum ante, et pretium urna ultricies bibendum. Donec nec volutpat purus, eu
    lacinia elit. In interdum lacinia tortor ac maximus. Phasellus maximus tellus ut ligula dictum, id feugiat dui
    cursus. Curabitur eleifend tellus velit, vel tempus sem placerat a. Donec euismod felis et est euismod, at semper
    lorem porttitor.
</div>


<div style="text-align: justify;">&nbsp;</div>


</body>
</html>
