<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>
<p>Bonjour, <span th:text="${userDto.getFirstName()} + ' ' + ${userDto.getLastName().toUpperCase()}"></span>

<p>&nbsp;</p>

<p>Nous avons enregistré une tentative échouée d'utilisation de votre adresse mail sur notre site. </p>

<p>&nbsp;</p>

<p>Si vous n'êtes pas à l'origine de cette tentative, vous devrez peut être modifier votre mot de passe. </p>

<p>&nbsp;</p>

<p>Bien &agrave; vous,&nbsp;</p>
<p>L'&eacute;quipe <a title="" th:href="${siteUrl}" target="_blank"><span th:text="${siteName}"></span></a></p>
</body>
</html>
