<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>
<p>Bonjour, <span th:text="${userDto.getFirstName()} + ' ' + ${userDto.getLastName().toUpperCase()}"></span>

<p>&nbsp;</p>

<p>Nous avons reçu une demande de réinitialisation de votre mot de passe sur le site
    <a title="" th:href="${siteUrl}" target="_blank"><span th:text="${siteName}"></span></a>
</p>

<p>&nbsp;</p>

<p>Si vous êtes à l'origine de cette demande, merci de cliquer sur le lien ci dessous :</p>
<p><a title="Lien validation" th:href="${passwordResetLink}"
      target="_blank">Réinitialisation mot de passe</a>&nbsp;</p>

<p>&nbsp;</p>

<p>Bien &agrave; vous,&nbsp;</p>
<p>L'&eacute;quipe <a title="" th:href="${siteUrl}" target="_blank"><span th:text="${siteName}"></span></a></p>
</body>
</html>
