<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
-->


<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>
<p>Bonjour, <span th:text="${userDto.getFirstName()} + ' ' + ${userDto.getLastName().toUpperCase()}"></span>

<p>&nbsp;</p>

<p>Nous vous confirmons l'inscription sur <span style="color: #2dc26b;" th:text="${siteName}"></span></p>

<p>&nbsp;</p>

<p>Afin de profiter pleinement de votre compte, merci de cliquer sur le lien ci dessous :</p>
<p><a title="Lien validation" th:href="${validationLink}"
      target="_blank">Validation compte</a>&nbsp;</p>

<p>&nbsp;</p>

<p>Bien &agrave; vous,&nbsp;</p>
<p>L'&eacute;quipe <a title="" th:href="${siteUrl}" target="_blank" ><span th:text="${siteName}"></span></a></p>
</body>
</html>
